.buttonamong {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 10px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .buttonamong:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  .buttonamong svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  .buttonamong:hover svg {
    transform: scale(3) translate(60%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .buttonamong:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  .buttonamong:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  